.Notifications {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    position: relative;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li[data-priority="default"] {
    color: blue;
  }
  
  li[data-priority="urgent"] {
    color: red;
  }
  