.App {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #c44b52;
  border-bottom: 5px solid #c44b52;
}

.App-body {
  padding-top: 40px;
  font-size: 20px;
  min-height: 65vh;
  border-bottom: 5px solid #c44b52;
}

.App-footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
}
